# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Build
build/
*.o
*.a
*.dsym

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# SPM
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
